# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Google credentials
client_secret.json
credentials.json
token.json

# Database
*.db

# Node
node_modules/
dist/
.env.local

# OS
.DS_Store
Thumbs.db